.bg-blanco {
    background-color: white;
}
.bg-negro {
    background-color: black;
}
.bg-grisClaro {
    background-color: rgb(250, 243, 241);
}
.bg-grisOscuro {
    background-color: rgb(19, 18, 18);
}
.bg-gris {
    background-color: rgb(197, 201, 196);
}


