@media screen and (max-width: 576px) {
// nav
.centerNav{
justify-content: center;
}

    // Presentacion
.alturaCuerpoPresentacion {
    height: 40.1em;
    padding: 4.3em;   
    overflow-x: hidden;
    
}
.divPresentacion1 {
    font-size: 1.2em;
}
.btn1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.3em; 
}

//frontend
.alturaFrontEnd {
    margin-top: 57em;
    height: 137em;
}

}

