@media screen and (max-width: 576px)  {
.alturaFrontEnd {
    height: 50em;
}}
.alturaFrontEnd {
    height:55em !important;
}
.h2Fe {
    display: flex;
    margin-top: -0.2em;
    padding: 0.8em;
    font-size:  2.3em;
    font-weight: bold;
}
.h3Fe {
    display: flex;
    margin-top: -1.5em;
    font-size: 1em;
}

    .cardsFe {
        padding: 1em;
        margin-top: 5em;
        margin-right: 4.2em;
        box-shadow: 0.3em 0.2em 0.4em 0.3em rgb(61, 61, 61);
        transition: all 1s ease;
        max-width: 18em;
        max-height: 35em;
        background-color: rgb(243, 236, 236);
        }
        
        .cardsFe:hover { 
        transform: translateY(-3%);
        box-shadow:0.4em 0.3em 0.5em 0.4em  white;
        }          
        .card-img-top {
            border-radius: 2em;
            max-height: 6.5em;
        }   
        .tituloCardsFe {
            display: flex;
            justify-content: center;
        border-bottom: 0.1em double #504e4e!important;
        }
        .btn-outline-azulAcero {
            color: rgb(27, 102, 102)!important;
            background-color: transparent;
            background-image: none;
            border-color: rgb(27, 102, 102);
            border-radius: 1em;
        }
        .btn-outline-azulAcero:hover {
            background-color: rgb(27, 102, 102);
            color: white !important;
        } 

