html {

        scroll-behavior: smooth;
    
}
// navegador
.Navegador {
    font-weight: bold;
    font-size: 1em;
}

.alturaNav {
    height: 5em;
}

.menu {
    display: flex;
    justify-content: center;
}
.menu a {
    position: relative;
    display: block;
    padding: 5px;
}
.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #807b83, #3d3b3c, #0a0a0a);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.menu a:hover::before {
    transform: scaleX(1);
}

// Presentacion
.alturaCuerpoPresentacion {
    height: 34.1em;
    padding: 9.4em;
}

.divPresentacion1 {
    font-size: 1.3em;
}

.lineaB {
    border-bottom: 0.1em double rgb(27, 102, 102);
    line-height: 1.4em;
    font-size: 2.3em;
}

//sobre mi
.alturaCuerpoSobreMi {
    height: 27em;
    padding: 2.5em;
}
.botonSobreMi {
    color: black;
}
.botonSobreMi:hover {
    color: black !important;
    text-decoration: none;
}
.h2sobreMi {
    display: flex;
    font-size: 2.8em;
    font-weight: bold;
}
.h3sobreMi {
    display: flex;
    font-size: 1em;
    
}
.psobreMi {
    padding: 2em;
    font-size: 1.4em;
}

    //footer  
    .footerAltura {
        height: 13.7em;
        }
.iconosFooter {
    width: 2.7em;
    height: 2.6em;
}