html {

        scroll-behavior: smooth;
    
}
// navegador
.Navegador {
    font-weight: bold;
    font-size: 1em;
}

.alturaNav {
    height: 5em;
}

.menu {
    display: flex;
    justify-content: center;
}
.menu a {
    position: relative;
    display: block;
    padding: 5px;
}
.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #807b83, #3d3b3c, #0a0a0a);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.menu a:hover::before {
    transform: scaleX(1);
}

// Presentacion
.alturaCuerpoPresentacion {
    height: 34.1em;
    padding: 9.4em;
}

.divPresentacion1 {
    font-size: 1.3em;
}

.lineaB {
    border-bottom: 0.1em double rgb(27, 102, 102);
    line-height: 1.4em;
    font-size: 2.3em;
}

//sobre mi
.alturaCuerpoSobreMi {
    height: 27em;
    padding: 2.5em;
}

.h2sobreMi {
    display: flex;
    font-size: 2.8em;
    font-weight: bold;
   ;
 
}
.h3sobreMi {
    display: flex;
    font-size: 1em;
    
}
.psobreMi {
    padding: 2em;
    font-size: 1.4em;
}

                               // estudios
//frontend
.alturaFrontEnd {
    height: 50em;
}
.h2Fe {
    display: flex;
    margin-top: -0.2em;
    padding: 0.8em;
    font-size:  2.3em;
    font-weight: bold;
}
.h3Fe {
    display: flex;
    margin-top: -1.5em;
    font-size: 1em;
}

    .cardsFe {
        padding: 1em;
        margin-top: 5em;
        margin-right: 4.2em;
        box-shadow: 0.3em 0.2em 0.4em 0.3em rgb(61, 61, 61);
        transition: all 1s ease;
        max-width: 18em;
        max-height: 35em;
        background-color: rgb(243, 236, 236);
        }
        
        .cardsFe:hover { 
        transform: translateY(-3%);
        box-shadow:0.4em 0.3em 0.5em 0.4em  white;
        }          
        .card-img-top {
            border-radius: 2em;
            max-height: 6.5em;
        }   
        .tituloCardsFe {
            display: flex;
            justify-content: center;
        border-bottom: 0.1em double #504e4e!important;
        }
        .btn-outline-azulAcero {
            color: rgb(27, 102, 102)!important;
            background-color: transparent;
            background-image: none;
            border-color: rgb(27, 102, 102);
            border-radius: 1em;
        }
        .btn-outline-azulAcero:hover {
            background-color: rgb(27, 102, 102);
            color: white !important;
        } 
      //Data analitycs
    .h2DA{
        display: flex;
    margin-top: -0.2em;
    padding: 0.8em;
    font-size:  2.3em;
    font-weight: bold;
      }
      .alturaCarousel {
        height: 51em;
      }
    
    .tamañoCarousel {
    width: 50em;
    height: 27em;
    max-width: 50em;
    max-height: 50em;
      }

    .carousel-control-next-icon{
background-image: url("../../fotos/arrow-right-circle-fill.svg")!important;
      }
      .carousel-control-prev-icon{
        background-image: url("../../fotos/arrow-left-circle-fill.svg")!important;
      }

      .DAdescripcion {
        font-size: 1.5em;
      }
      .DAboton {
        background-color:  rgb(27, 102, 102)!important;
        color: #fff;
        margin-bottom: 4em;
        border-radius: 1em;
    }
    .DAboton:hover{
        background-color: rgb(8, 31, 26)!important;
    }
    //facultad
    .alturaFacultad {
height: 38em;
    }
    .h2Eu {
        font-size:  2.3em;
        font-weight: bold;
        margin-bottom: -1em;
    }

    .blog-post {
        width: 100%;
        max-width: 98rem;
        height: 22em;
        padding: 0.3em;
        background-color: rgb(255, 247, 248);
        box-shadow: rgba(3, 102, 214, 0.3) 1px 3px 3px 3px;
        display: flex;
        align-items: center;
        margin-left: 8em;
        border-radius: 1em;
        
      
    }
    .blog-post__img{
        min-width: 19.7rem;
        max-width: 35rem;
        height: 13em;
        position: relative;
        transform: translateX(-7.1rem);
    }

    .imgFacultad {
        width: 23em;
        height: 13em;
        margin-left: 2em;
        border-radius: 1em;
        box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    }
    .bodyFacultad {
        display: flex;
        align-items: center;
        
    }
    .blog-post__date{
        font-size: 1.4em;
    }
    .blog-post__title {
        font-size: 2.5em;
    }
    .blog-post__tex {
        font-size: 1.1em;
    }

    //aptitudes 
    .aptitudes {
        border-left: 3px double black;
    border-right: 3px double black;
    border-top: 10px solid black;
    padding: 2.7rem;
    border-radius: 1em;
    font-size: 1.2em;
    margin-left: 2.7em;
    }

    //form

    .formContacto {
        background-color: #faf8f8;
        border-radius: 1em;
        border-top: 0.5em solid black; 
        border-left: 0.15em double black; 
       border-right: 0.15em double black;
       border-bottom: 0.1em solid black;
       margin: 7em;
       padding: 2em;
    }
.h3Form {
    font-weight: bold;
}

   .formContacto__input {
    padding: 7px;
    background: none;
    border: none;
    outline: none;
    color: #fff(15, 15, 15);
    border-bottom: 1px solid rgb(7, 7, 7);
 
   }
.formContacto__label{
    font-size: 1.25em;
}
.buttonForm {
    background-color:  rgb(27, 102, 102)!important;
    border-radius: 1em;
}
.buttonForm:hover{
    background-color: rgb(8, 31, 26)!important;
}
   .formContacto__inputTextarea {
font-weight: bold;

    resize: none;
    }

    .formContacto__label {
        font-weight: bold;
    }

    //skills 
    .skills{
    width: 4.1em;
    height: 3.44em;
    transition: transform .2s;
    }
    .skills:hover {
transform: scale(1.5);
    }
    .h3Skills {
        margin-top: 1.8em;
        margin-bottom: 1.7em;
        font-weight: bold;
    }

    //footer  
    .footerAltura {
        height: 13.7em;
        }
 .iconosFooter {
    width: 2.7em;
    height: 2.6em;
 }